body{
    background-color: navajowhite;
}
#header h1{
    color: darkmagenta;
}
a{
    border: 2px ridge black;
    padding: 10px;
}
a:hover{
    font-weight: bold;
    color: green;
}
#main img{
    width: 600px;
    height: 650px;
}