body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#header h1{
    color: darkmagenta;
}
a{
    border: 2px ridge black;
    padding: 10px;
}
a:hover{
    font-weight: bold;
    color: green;
}
#main img{
    width: 600px;
    height: 650px;
}
th{
    
    border: 1px solid black;
}
td{
    border: 1px solid black ;
}
.table ul,ol{
    display: inline-block;
    margin-left: 20%;
}
.table dl{
    margin-left: 20%;
}